icons_format = "{icon}"
[theme]
theme = "solarized-dark"
[icons]
icons = "awesome6"

[[block]]
block = "focused_window"

[[block]]
block = "music"
format = " $icon {$combo.str(max_w:20) $play $next |}"
player = "spotify"

[[block]]
block = "net"
#format = " $icon  $device: $ip "

[[block]]
block = "net"
device = 'docker\d+'

[[block]]
block = "battery"
interval = 10
driver = 'upower'
device = "DisplayDevice"
format = " $icon  $percentage  $time "

[[block]]
block = "memory"
format = " $icon $mem_total_used_percents.eng(w:2) "
format_alt = " $icon_swap $swap_used_percents.eng(w:2) "

[[block]]
block = "cpu"
interval = 1

[[block]]
block = "load"
interval = 1

[[block]]
block = "sound"

[[block]]
block = "time"
interval = 5
format = " $timestamp.datetime(f:'%a %d/%m %R') "
